## Observations and Insights

In [784]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

In [785]:
mouse_metadata.head(10)

  Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0     k403     Ramicane    Male          21          16
1     s185    Capomulin  Female           3          17
2     x401    Capomulin  Female          16          15
3     m601    Capomulin    Male          22          17
4     g791     Ramicane    Male          11          16
5     s508     Ramicane    Male           1          17
6     f966    Capomulin    Male          16          17
7     m546     Ramicane    Male          18          16
8     z578     Ramicane    Male          11          16
9     j913     Ramicane  Female           4          17

In [786]:
study_results.head(10)

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0
5     h246          0                45.0                 0
6     p189          0                45.0                 0
7     n923          0                45.0                 0
8     q119          0                45.0                 0
9     f993          0                45.0                 0

In [787]:
#pd.merge merging on "Mouse ID" column
mouseIDmerge_df = pd.merge(mouse_metadata, study_results, on="Mouse ID")
mouseIDmerge_df.head(10)

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
5,k403,Ramicane,Male,21,16,25,33.464577,1
6,k403,Ramicane,Male,21,16,30,31.099498,1
7,k403,Ramicane,Male,21,16,35,26.546993,1
8,k403,Ramicane,Male,21,16,40,24.365505,1
9,k403,Ramicane,Male,21,16,45,22.050126,1

In [788]:
# Checking the number of mice.
mouseIDmerge_df["Mouse ID"].nunique()

249

In [789]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
mouseIDmerge_df.duplicated(subset = ['Mouse ID','Timepoint'])#,keep=False)
mouseIDmerge_df.head()
#This is how Bills instruction has it:
#mouseIDmerge_df[mouseIDmerge_df.duplicated(subset = ['Mouse ID','Timepoint']),keep=False)]

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [790]:
# Optional: Get all the data for the duplicate mouse ID. 
mouseIDmerge_df.loc[(mouseIDmerge_df['Mouse ID'] == 'g989')]

#There are 13 records

# len(mouseIDmerge_df.loc[(mouseIDmerge_df['Mouse ID'] == 'g989')])

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
908,g989,Propriva,Female,21,26,0,45.000000,0
909,g989,Propriva,Female,21,26,0,45.000000,0
910,g989,Propriva,Female,21,26,5,48.786801,0
911,g989,Propriva,Female,21,26,5,47.570392,0
912,g989,Propriva,Female,21,26,10,51.745156,0
913,g989,Propriva,Female,21,26,10,49.880528,0
914,g989,Propriva,Female,21,26,15,51.325852,1
915,g989,Propriva,Female,21,26,15,53.442020,0
916,g989,Propriva,Female,21,26,20,55.326122,1
917,g989,Propriva,Female,21,26,20,54.657650,1
918,g989,Propriva,Female,21,26,25,56.045564,1
919,g989,Propriva,Female,21,26,30,59.082294,1
920,g989,Propriva,Female,21,26,35,62.570880,2

In [791]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
cleanmouseIDmerge_df = mouseIDmerge_df.loc[(mouseIDmerge_df['Mouse ID'] != 'g989')]
cleanmouseIDmerge_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [792]:
# Checking the number of mice in the clean DataFrame.
cleanmouseIDmerge_df["Mouse ID"].nunique()

248

## Summary Statistics

In [793]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
#'Drug Regimen'
drugandtumor2_df = cleanmouseIDmerge_df[['Drug Regimen', 'Tumor Volume (mm3)']]
drugandtumor_df.head()

drugandtumor_df=drugandtumor2_df.groupby(['Drug Regimen'])

drugandtumor_df.head()

mean = drugandtumor_df['Tumor Volume (mm3)'].mean()
median = drugandtumor_df['Tumor Volume (mm3)'].median()
var = drugandtumor_df['Tumor Volume (mm3)'].var()
std = drugandtumor_df['Tumor Volume (mm3)'].std()
sem = drugandtumor_df['Tumor Volume (mm3)'].sem()


summary_df = pd.DataFrame({'mean': mean, 'median': median, 'var': var, 'std': std, 'sem': sem})
summary_df

summary_df['mean'] = summary_df['mean'].map('{:.2f}'.format)
summary_df['median'] = summary_df['median'].map('{:.2f}'.format)
summary_df['var'] = summary_df['var'].map('{:.2f}'.format)
summary_df['std'] = summary_df['std'].map('{:.2f}'.format)
summary_df['sem'] = summary_df['sem'].map('{:.2f}'.format)
summary_df


# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

               mean median    var   std   sem
Drug Regimen
Capomulin     40.68  41.56  24.95  4.99  0.33
Ceftamin      52.59  51.78  39.29  6.27  0.47
Infubinol     52.88  51.82  43.13  6.57  0.49
Ketapril      55.24  53.70  68.55  8.28  0.60
Naftisol      54.33  52.51  66.17  8.13  0.60
Placebo       54.03  52.29  61.17  7.82  0.58
Propriva      52.32  50.45  43.85  6.62  0.54
Ramicane      40.22  40.67  23.49  4.85  0.32
Stelasyn      54.23  52.43  59.45  7.71  0.57
Zoniferol     53.24  51.82  48.53  6.97  0.52

In [794]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
# summary_df
# Using the aggregation method, produce the same summary statistics in a single line
onelinedsummary_df = cleanmouseIDmerge_df.agg({"Tumor Volume (mm3)": ["mean","median","var","std","sem"]})
onelinedsummary_df

        Tumor Volume (mm3)
mean             50.435293
median           48.933454
var              79.462907
std               8.914197
sem               0.205591

## Bar and Pie Charts

In [795]:
# # cleanmouseIDmerge_df
# ax = cleanmouseIDmerge_df.plot.bar(x=['Mouse ID'], y=['Tumor Volume (mm3)'], rot=0)
# # listunique = [cleanmouseIDmerge_df["Mouse ID"].unique().tolist()]
# # listunique
# # listdrug = cleanmouseIDmerge_df["Drug Regimen"].unique().tolist()
# # listdrug
# # # Generate a bar plot showing the total number of unique mice tested on each drug regimen using pandas.
# #bar_df= pd.DataFrame({'unique mice': ['mean','median','std'], 'val':[10, 30, 20]})
# # ax = bar_df.plot.bar(x='unique mice', y='val', rot=0)

In [796]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pyplot.
# cities = ["New Orleans", "Milwaukee", "Omaha", "Pittsburgh", "Toledo"]
# bars_in_cities = [8.6, 8.5, 8.3, 7.9, 7.2]
# x_axis = np.arange(len(bars_in_cities))
# plt.bar(x_axis, bars_in_cities, color="b", align="center")
# #plt.bar

In [797]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [798]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

#plt.pie

## Quartiles, Outliers and Boxplots

In [805]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse
timepoint_df = cleanmouseIDmerge_df.groupby(['Mouse ID'])['Timepoint'].max()
timepoint_df = timepoint_df.reset_index()
# Merge this group df with the original dataframe to get the tumor volume at the last timepoint
mergedmax =pd.merge(timepoint_df,cleanmouseIDmerge_df, on=['Mouse ID','Timepoint'])
mergedmax

,Mouse ID,Timepoint,Drug Regimen,Sex,Age_months,Weight (g),Tumor Volume (mm3),Metastatic Sites
0,a203,45,Infubinol,Female,20,23,67.973419,2
1,a251,45,Infubinol,Female,21,25,65.525743,1
2,a262,45,Placebo,Female,17,29,70.717621,4
3,a275,45,Ceftamin,Female,20,28,62.999356,3
4,a366,30,Stelasyn,Female,16,29,63.440686,1
...,...,...,...,...,...,...,...,...
243,z435,10,Propriva,Female,12,26,48.710661,0
244,z578,45,Ramicane,Male,11,16,30.638696,0
245,z581,45,Infubinol,Female,24,25,62.754451,3
246,z795,45,Naftisol,Female,13,29,65.741070,3
247,z969,45,Naftisol,Male,9,30,73.867845,4

In [806]:
# Put treatments into a list for for loop (and later for plot labels)
treatments = ['Capomulin','Ramicane','Infubinol','Ceftamin']

# Create empty list to fill with tumor vol data (for plotting)
tumor_data = []

# Calculate the IQR and quantitatively determine if there are any potential outliers. 
for treatment in treatments:
    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    drug_vol = mergedmax.loc[(cleanmouseIDmerge_df['Drug Regimen'] == treatments )]
    
    # add subset 
    tumor_data.append(drug_vol)
    
    # Determine outliers using upper and lower bounds
    #do this on drug_vol, get that block of code where we did outliers

ValueError: ('Lengths must match to compare', (1880,), (4,))

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

#plt.boxplot(tumor_data, labels=treatments)
#plt.show()

## Line and Scatter Plots

In [ ]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin
#take code and paste in here
#it is up to you which mouse id you take, they just have to have Capomulin
#use the .loc

In [ ]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen
#Then do a general plt.scatter on Capomulin
#Have to get a df that is just a .loc where condition is capomulin
#have to do a .groupby on mouse ID and doing the .mean()
#The plt.scatter usin 'Weight (g)' and using 'Tumor Volume (mm)'

## Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen

In [ ]:
#using st.pearsonr regressing weight and tumor volume